<button (click)="addAgent()">Add Agent</button>
<button (click)="updateAgent()">Update agent</button>
<hr>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let agent of agents$ | async">
    <td>{{agent.id}}</td>
    <td>{{agent.name}}</td>
    <td>{{agent.status}}</td>
  </tr>
  </tbody>
</table>

<hr>
<h3>Logs</h3>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Last polling time</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let log of logs$ | async">
    <td>{{log.id}}</td>
    <td>{{log.pollTime}}</td>
  </tr>
  </tbody>
</table>

